<div class="question">
  <div class="left">

  </div>


  <div class="right">
    <div class="userDetail">
      <%= question.user.email %>
    </div>
    <div class="content">
      <%= question.content %>
    </div>
    <!--<div class="actions">-->
      <!--&lt;!&ndash;%&ndash;&gt;-->
    <!--</div>-->
  </div>
</div>

