<div class="question">
  <div class="left">
    <div class="userImage">

      <% if question.user.profile_picture %>
          <img src="/uploads/<%= question.user.profile_picture %>">
      <% end %>

    </div>
  </div>


  <div class="right">
    <div class="userDetail">
      <%= question.user.email %>
    </div>
    <div class="content">
      <%= question.content %>
    </div>
    <!--<div class="actions">-->
      <!--&lt;!&ndash;%&ndash;&gt;-->
    <!--</div>-->
  </div>
</div>

