<html>
<head>
  <title>Techora</title>
</head>
<body>
  <header>
    <div id="logo"></div>
    <ul>
      <li><a class="waves-effect waves-light btn">SignIN</a></li>
      <li><a class="waves-effect waves-light btn">SignUp</a></li>
      <li><a class="waves-effect waves-light btn">LogOut</a></li>
    </ul>
  </header>
</body>
</html>