<html>
<head>
  <title>Techora</title>
</head>
<body>
  <header>
    <div id="logo"></div>
    <ul>
      <li><% unless user_signed_in? %></li>
      <li><%= link_to 'SignIn',new_user_session_path %></li>
      <li><%= link_to 'SignUp',new_user_registration_path %></li>
      <% else %>
      <%= @current_user_username %>
      <% end %>
    </ul>
  </header>
</body>
</html>